
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Special+Gothic+Condensed+One&display=swap');

:root{
    --body-bg: #0D1015;
    --purple-blush: #B7B1F2;
    --pink-blush: #FDB7EA;
    --green-blush: #BAD8B6;
    --blue-blush: #D9EAFD;
}

*{
    margin: 0;
}

*:focus{
    outline: none;
}

body{
    background-color: var(--body-bg);
    font-family: "Poetsen One", sans-serif;
    text-align: center;
}

.container{
    width: auto;
    height: auto;
    border: 5px solid var(--purple-blush);
    max-width: 700px;
    margin: 50px auto;
    border-radius: 50px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container .home-page{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.container .home-page .logo-img{
    width: 320px;
    height: 320px;
    margin: auto;
}

.container .home-page .logo-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.container .home-page .text-wrapper h4{
    margin: 5px 0 20px 0;
    color: var(--green-blush);
    
}

.container .home-page .text-wrapper h2{
    font-size: 3.8rem;
    color: var(--purple-blush);
    margin: 12px 0;
}

.container .home-page .text-wrapper button{
    padding: 20px 40px;
    font-size: 1.2rem;
    font-family: "Poetsen One", sans-serif;
    background-color: var(--pink-blush);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.open-btn{
    background-color: var(--body-bg);
    color: var(--green-blush);
}

.container .home-page .text-wrapper button:hover{
    background-color: white;
    border: 1px solid var(--pink-blush);
    color: var(--pink-blush);
}

.container .calculator-wrapper{
    background-color: var(--blue-blush);
    width: 100%;
    height: 100%;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;  
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.hidden{
    display: none;
}

.calculator-wrapper h1{
    font-size: 2rem;
    color: var(--pink-blush);
}

.calculator-wrapper form{
    max-width: 100%;
    width: 400px;
    margin: auto;
    padding: 15px 0;
}

.calculator-wrapper form label{
    font-size: 1.4rem;
    color: var(--purple-blush);
    text-align: center;
}

.calculator-wrapper form input{
    max-width: 300px;
    width: 100%;
    padding: 15px 18px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid var(--pink-blush);
    color: var(--green-blush);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 15px 0;
}

.calculator-wrapper form button{
    width: 80%;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.calculator-wrapper form button:nth-of-type(1){
    background-color: var(--purple-blush);
    color: white;
    border: none;
    font-weight: 600;
}

.calculator-wrapper form button:nth-of-type(2){
    background-color: white;
    color: var(--purple-blush);
    border: 2px solid var(--purple-blush);
    font-weight: 600;
}

.calculator-wrapper form button:nth-of-type(1):hover{
    background-color: white;
    border: 3px solid var(--purple-blush);
    color: var(--purple-blush);
}

.calculator-wrapper form button:nth-of-type(2):hover{
    background-color: var(--purple-blush);
    color: white;
    border: 2px solid var(--purple-blush);
}
