@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #0D1015;
    --pink: #F3C8F3;;
    --purple:#BCB4FF;
    --dark-pink: #E22797;
    --white: #FFFEEC;
}

*{
    font-family: "Inter Tight", sans-serif;
}

body{
    background-color: var(--bg-color);
    text-align: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

h1{
    font-size: 4rem;
    color: var(--purple);
}

.logo{
    width: 150px;
    height: 150px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}