@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #5c899d;
    --font: #fffcef;
}

body{
    font-family: "Inter Tight", sans-serif;
    background-color: var(--font);
}

.container{
    max-width: 500px;
    width: 100%;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: var(--bg);
    color: var(--font);
    padding: 20px;
}